*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html {
    font-size: 62.5%;
    font-family: "Roboto Condensed", sans-serif;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contain {
    max-width: 44rem;
    padding: 4.6rem;
}

.container1 {
    height: 42rem;
    background-color: hsl(31, 77%, 52%);
}

.container img {
    padding-bottom: 47px;
}

.container1 h3 {
    font-size: 25px;
    padding-bottom: 47px;
    color: white;
}
.container1 p {
    color: white;
    font-size: 12px;
    padding-bottom: 47px;
}
.btnn {
    color: white;
    padding: 12px 18px;
    border-radius: 50px;
    border: 2px solid white;
    background-color: hsl(31, 77%, 52%);
}
.btn2 {
    background-color: hsl(184, 100%, 22%);
}
.btn3 {
    background-color: hsl(179, 100%, 13%);
}

.container2 {
    height: 42rem;
    background-color: hsl(184, 100%, 22%);
}

.container2 h3 {
    font-size: 25px;
    padding-bottom: 47px;
    color: white;
}
.container2 p {
    color: white;
    font-size: 12px;
    padding-bottom: 47px;
}

.container3 {
    height: 42rem;
    background-color: hsl(179, 100%, 13%);
}

.container3 h3 {
    font-size: 25px;
    padding-bottom: 47px;
    color: white;
}
.container3 p {
    color: white;
    font-size: 12px;
    padding-bottom: 47px;
}

@media screen and (min-width: 875px) {
    .container {
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
